<!-- <pre>{{ operacion | json }}</pre> -->

<form action="/action_page.php" class="was-validated">
    <div class="mb-3 mt-3">
        <label class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombreOperacion" [(ngModel)]="operacion.nombre" readonly>
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción:</label>
        <textarea type="text" class="form-control" rows="6" id="descripcion" name="descripcion"
            [(ngModel)]="operacion.descripcion" readonly></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha Apertura:</label>
        <input type="date" class="form-control" id="fechaApertura" name="fechaApertura"
            [(ngModel)]="operacion.fechaApertura" readonly>
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha Cierre:</label>
        <input type="date" class="form-control" id="fechaCierre" name="fechaCierre" [(ngModel)]="operacion.fechaCierre"
            readonly>
    </div>
</form>